/* src/components/Dashboard.css */

.custom-sider {
  background-color: #001529; /* Change to your desired color */
}

.header {
  background: #001529; /* Keep the header color consistent with the sidebar */
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.site-layout-background {
  background: #fff;
}

.menu-toggle {
  display: none;
}

@media (max-width: 992px) {
  /* Styles for mobile devices */
  .menu-toggle {
    display: inline-block;
  }
}

/* Hide the zero-width trigger with higher specificity */
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger-left {
  display: none !important;
}
