/* src/components/Dashboard.css */

.custom-sider {
  background-color: #001529; /* Change to your desired color */
}

.header {
  background: #001529; /* Keep the header color consistent with the sidebar */
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between; /* Ensure space between logo/menu toggle and title */
}

.title {
  color: white;
  font-size: 22px; /* Increase font size to your desired value */
  font-weight: bold;
  text-align: center;
  flex: 1; /* Center the title */
}

.header-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-right {
  margin-left: auto;
}

.welcome-text {
  color: white;
  font-size: 18px; /* Increase font size to your desired value */
  margin-right: 20px; /* Adjust spacing as needed */
}

.sign-out-button {
  color: white;
  border-radius: 8px; /* Add curved corners */
}

.site-layout-background {
  background: #fff;
}

.menu-toggle {
  display: none;
}

@media (max-width: 992px) {
  /* Styles for mobile devices */
  .menu-toggle {
    display: inline-block;
  }

  .welcome-text {
    display: none; /* Hide welcome text on mobile devices */
  }

  .title {
    font-size: 12px; /* Decrease font size for the title on mobile devices */
  }
}

/* Hide the zero-width trigger with higher specificity */
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger-left {
  display: none !important;
}

/* Increase the font size of the tabs */
.ant-menu-item {
  font-size: 16px; /* Increase font size to your desired value */
}

.custom-icon {
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
  margin-right: 8px;
}
