/* src/components/ForgotPassword.css */

.forgot-password-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f0f2f5;
  }
  
  .forgot-password-card {
    width: 900px; /* Match the card width with the login card */
    padding: 40px; /* Add padding inside the card */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  
  .forgot-password-form {
    width: 100%;
  }
  
  .forgot-password-form-button {
    width: 100%;
  }
  
  .extra-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .forgot-password-button {
    width: calc(50% - 8px); /* Ensure both buttons have the same width with a small gap */
    text-align: center;
    border-radius: 5px;
    border: 1px solid blue; /* Change the outline color to blue */
  }
  
  .forgot-password-button:hover {
    background-color: #40a9ff;
    color: white;
  }
  
  /* Media queries for mobile view */
  @media (max-width: 768px) {
    .forgot-password-card {
      width: 100%;
      padding: 20px;
    }
  
    .extra-buttons {
      flex-direction: column;
    }
  
    .forgot-password-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
  .ant-form-item {
    margin-bottom: 12px; /* Reduce the margin between form items */
  }
  
  .ant-form-item-label {
    line-height: 1.2; /* Adjust the line height of labels */
  }
  