/* src/components/Login.css */

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-image {
  background: url('../images/sharadamba_backroung.jpg') no-repeat center center;
  background-size: cover;
  width: 300px;
  height: 450px;
  border-radius: 10px;
}

.login-form {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container {
  display: flex;
  align-items: center;
}

.login-form-container {
  padding: 20px;
}
