/* src/components/Login.css */

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0f2f5;
}

.login-card {
  width: 900px; /* Increase the card width */
  padding: 40px; /* Add padding inside the card */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.login-container {
  display: flex;
  align-items: center;
}

.login-form {
  width: 100%;
}

.login-form-button {
  width: 100%;
}

.extra-buttons {
  display: flex;
  justify-content: space-between;
}

.signup-form-button,
.forgot-password-button {
  width: calc(50% - 8px); /* Ensure both buttons have the same width with a small gap */
  text-align: center;
  border-radius: 5px;
  border: 1px solid blue; /* Change the outline color to blue */
}

.signup-form-button:hover,
.forgot-password-button:hover {
  background-color: #40a9ff;
  color: white;
}

.login-image {
  background: url('../images/sharadamba_backroung.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  width: 800px;  /* Adjust the width to make the image bigger */
  height: 550px; /* Adjust the height to make the image bigger */
  margin-right: 40px;
}

/* Media queries for mobile view */
@media (max-width: 768px) {
  .login-card {
    width: 100%;
    padding: 20px;
  }

  .login-container {
    flex-direction: column;
    align-items: center;
  }

  .login-image {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .extra-buttons {
    flex-direction: column;
  }

  .signup-form-button,
  .forgot-password-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

.ant-form-item {
  margin-bottom: 12px; /* Reduce the margin between form items */
}

.ant-form-item-label {
  line-height: 1.2; /* Adjust the line height of labels */
}

.gear-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gear-button-image {
  width: 30px;
  height: 30px;
}